.loadMoreButton {
  min-width: 150px;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}

.content {
  padding-top: 0;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0;
  min-height: 280px;
  background: "#fff";
  padding-bottom: 20px;
}
