.cardWrapper {
  display: flex;

  .detailsWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .titleWrapper {
      display: flex;
      align-items: center;
      font-size: 24px;
      line-height: 1;
      font-weight: 600;
      margin-bottom: 8px;

      .title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 350px;
        margin: 0;
      }

      .price {
        margin: 0;
        margin-left: auto;
        margin-right: 10px;
        font-size: 30px;
      }

      .icon {
        height: 24px;
        cursor: pointer;

        &.active {
          color: var(--red-color);
        }

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }

    .rating {
      margin-bottom: 24px;
    }

    .description {
      width: 650px;
      margin: 0;
      color: var(--grey-color);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-bottom: 24px;
    }

    .showMoreBtn {
      max-width: 100px;
      border-radius: 25px;
      margin-top: auto;
    }
  }
}
