.cardWrapper {
  display: flex;

  .detailsWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .titleWrapper {
      display: flex;
      align-items: center;
      font-size: 24px;
      line-height: 1;
      font-weight: 600;
      margin-bottom: 8px;

      .title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 350px;
        margin: 0;
      }

      .price {
        margin: 0;
        margin-left: auto;
        margin-right: 10px;
        font-size: 30px;
      }

      .icon {
        height: 24px;
        cursor: pointer;

        &.active {
          color: red;
        }

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }

    .reviewWrapper {
      display: flex;
      margin-bottom: 24px;

      .reviews {
        margin-right: 16px;
        text-decoration: underline;

        .iconStar {
          margin-right: 5px;

          svg {
            fill: #ffc531;
          }
        }
      }

      .location {
        margin-left: 3px;
      }
    }

    .description {
      width: 650px;
      margin: 0;
      color: #475467;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-bottom: 24px;
    }

    .showMoreBtn {
      max-width: 100px;
      border-radius: 25px;
      margin-top: auto;
    }
  }
}
