.homeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://image.geo.de/30152076/t/Gl/v3/w1440/r1.7778/-/roadtrip-banff-nationalpark-icefields-parkway-s-1517645057-jpg--86765-.jpg');

  .homeTitle {
    font-size: 40px;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 0.15em #000000;
  }

  #seeCatalogBtn {
    padding: 20px;
    color: #fff;
    background: rgb(42, 42, 249);
    border-radius: 20px;

    &:hover {
      background: rgb(41, 114, 248);
    }
  }
}
